<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/76d25d6fff.js"
      crossorigin="anonymous"
    ></script>
    <title>Music</title>
  </head>
  <body class="music">
    <header id="inicio">
      <nav class="nav">
        <ul class="nav-link">
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">MUSIC</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </nav>
      <nav class="nav-icon">
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-spotify"></i></a>
        <a href=""><i class="fab fa-apple"></i></a>
        <a href=""><i class="fab fa-amazon"></i></a>
        <a href=""><i class="fab fa-instagram-square"></i></a>
      </nav>
    </header>
    <main>
      <h1>MUSIC //</h1>
      <h4 class="direct-links">Direct Links</h4>
      <ul class="links-album">
        <li><a href="#album">Album</a></li>
        <li><a href="#organic">Video: Organic Love</a></li>
        <li><a href="#street">Video: Street Light</a></li>
      </ul>

      <article id="album">
        <h2>ALBUM <br />TWIST IN MY REALITY</h2>
        <img src="/images/emilia-play-list.png" alt="album" />
        <ol>
          <li><i class="fas fa-play"></i> Organic Love | 02:40</li>
          <li><i class="fas fa-play"> </i> Twist In My Reality | 02:10</li>
          <li><i class="fas fa-play"></i> Street Light | 03:28</li>
          <li>
            <i class="fas fa-play"> </i> Love Don’t Live Here Anymore (Cover) |
            03:49
          </li>
        </ol>
      </article>
      <a href="#inicio" class="go-top">Go Top</a>
      <article id="organic">
        <h2>
          VIDEO <br />
          ORGANIC LOVE
        </h2>
        <iframe
          title="vimeo-player"
          src="https://player.vimeo.com/video/135166028"
          width="640"
          height="360"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <section>
          <p>Directed by VINCE MALC & EMILIA COLE</p>
          <p>Edited and Filmed by NICOLAS TROY</p>
          <p>Produced by NIKI HEART,</p>
          <p>Wix Films LTD</p>
        </section>
      </article>
      <a href="#inicio" class="go-top">Go Top</a>
      <article id="street">
        <h2>VIDEO <br />STREET LIGHT</h2>
        <iframe
          title="vimeo-player"
          src="https://player.vimeo.com/video/134861419"
          width="640"
          height="360"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <section>
          <p>Directed by VINCE MALC & EMILIA COLE</p>
          <p>Edited and Filmed by NICOLAS TROY</p>
          <p>Produced by NIKI HEART,</p>
          <p>Wix Films LTD</p>
        </section>
      </article>
      <a href="#inicio" class="go-top">Go Top</a>
    </main>
  </body>
</html>
